* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body,
.container {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
}

.panels {
  display: flex;
  flex-direction: column;
  padding: 16px;
  box-shadow: 1px 2px 7px 0px #00000026;
}

#control-panel {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

#start {
  padding: 4px;
  border-radius: 4px;
}

#info-panel {
  display: none;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex: 1;
  text-transform: capitalize;
  width: 100%;
  height: 100%;
  user-select: none;

}

.info-item {
  display: flex;
  align-items: center;
}

.info-item span:nth-of-type(2) {
  min-width: 36px;
  height: 30px;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 2px;
  border: 1px solid;
  padding: 4px;
  margin: 8px;
}

.info-item.scale span:nth-of-type(2),
.info-item.scale-A span:nth-of-type(2),
.info-item.scale-B span:nth-of-type(2) {
  min-width: 216px;
}

.visuals-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
}

@media screen and (min-width: 520px) {
  .visuals-container {
    flex-direction: row;
  }
}

.loops {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 18px;
  padding-top: 16px;
  transition: 0.2s
}

/* #loop-a::after,
#loop-b::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 30%;
  background-color: inherit;
  opacity: 0.6;
  z-index: 2;
}

#loop-a::after {
  bottom: -50px;
}

#loop-b::after {
  top: -50px;
} */